In [227]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
#library needed for scraping and data Frame

In [30]:
driver= webdriver.Chrome()

In [21]:
driver.get('https://www.shine.com/')

In [23]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Analyst')

In [24]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [25]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags[:10]:
    title=i.text
    job_title.append(title)

In [11]:
len(job_title)

10

In [13]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[:10]:
    location=i.text
    job_location.append(location)

In [14]:
len(job_location)

10

In [15]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[:10]:
    company=i.text
    company_name.append(company)

In [16]:
len( company_name)

10

In [26]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[:10]:
    experience=i.text
    experience_required.append(experience)

In [27]:
len( experience_required)

10

In [28]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs
9,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs

question 2

In [31]:
driver.get('https://www.shine.com/')

In [32]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [33]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [34]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [35]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags[:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[:10]:
    location=i.text
    job_location.append(location)

In [36]:
len(job_title)

20

In [37]:
len(job_location)

20

In [38]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[:10]:
    company=i.text
    company_name.append(company)

In [39]:

experience_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]')
for i in experience_tags[:10]:
    experience=i.text
    experience_required.append(experience)

In [40]:
len( experience_required)

20

In [41]:
len( company_name)

20

In [44]:
df1=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df1

,Title,Location,Company,Experience
0,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs
9,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs
10,Data Scientist Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
11,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
12,Data Scientist- Bangalore,Bangalore,the fashion cosmo,0 to 3 Yrs
13,Data Scientist-Bangalore,Bangalore,shiva hr services,0 to 3 Yrs
14,Hiring For Data Scientist,Bangalore\n+14,divya interprises,0 to 4 Yrs
15,Data Scientist,Bangalore,racanaa energy solution private lim...,3 to 6 Yrs
16,Data scientist,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
17,Data Scientist - Bangalore,Bangalore,deuglo infosystem private limited,4 to 6 Yrs
18,Data Scientist,Bangalore\n+1,mnr solutions pvt ltd,3 to 6 Yrs
19,Data Scientist,Bangalore\n+6,mnr solutions pvt ltd,3 to 6 Yrs

In [45]:
df1.tail(10)

,Title,Location,Company,Experience
10,Data Scientist Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
11,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
12,Data Scientist- Bangalore,Bangalore,the fashion cosmo,0 to 3 Yrs
13,Data Scientist-Bangalore,Bangalore,shiva hr services,0 to 3 Yrs
14,Hiring For Data Scientist,Bangalore\n+14,divya interprises,0 to 4 Yrs
15,Data Scientist,Bangalore,racanaa energy solution private lim...,3 to 6 Yrs
16,Data scientist,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
17,Data Scientist - Bangalore,Bangalore,deuglo infosystem private limited,4 to 6 Yrs
18,Data Scientist,Bangalore\n+1,mnr solutions pvt ltd,3 to 6 Yrs
19,Data Scientist,Bangalore\n+6,mnr solutions pvt ltd,3 to 6 Yrs

Question3

In [75]:
driver2=webdriver.Chrome()

In [78]:
driver2.get(' https://www.shine.com/')

In [79]:
designation=driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [80]:
search=driver2.find_element(By.XPATH,'//html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [81]:
location=driver2.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
location.send_keys('Delhi/NCR')

In [82]:
salary=driver2.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
salary.send_keys('3-6 lakhs')

In [84]:
job_title2=[]
job_location2=[]
company_name2=[]
experience_required2=[]

In [85]:
title_tags=driver2.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags[:10]:
    title=i.text
    job_title2.append(title)

In [86]:
job_title2

['Data Scientists 2024',
 'Data Scientist Vacancy',
 'Data Scientist Vacancy',
 'Data Scientist Vacancy',
 'Data Scientist Management Consulting Mumbai',
 'Data Scientist Urgent Recruitment',
 'Data Scientist Urgent Recruitment',
 'Data Scientist Urgent Recruitment',
 'Senior Data Scientist',
 'Data Scientist- Madhya Pradesh']

In [90]:
location_tags=driver2.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[:10]:
    location=i.text
    job_location2.append(location)

In [87]:
company_tags=driver2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[:10]:
    company=i.text
    company_name2.append(company)

In [91]:
experience_tags=driver2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div')
for i in experience_tags[:10]:
    experience=i.text
    experience_required2.append(experience)

In [92]:
len(experience_required2)

10

In [94]:
df1=pd.DataFrame({'Title':job_title2,'Location':job_location2,'Company':company_name2,'Experience':experience_required2})
df1

,Title,Location,Company,Experience
0,Data Scientists 2024,Coimbatore,bosch group,0 to 4 Yrs
1,Data Scientist Vacancy,Oman\n+14,divya interprises,Coimbatore
2,Data Scientist Vacancy,Oman\n+14,divya interprises,0 to 4 Yrs
3,Data Scientist Vacancy,Oman\n+14,divya interprises,Oman\n+14
4,Data Scientist Management Consulting Mumbai,Mumbai City,morpheus human consulting pvt ltd,0 to 4 Yrs
5,Data Scientist Urgent Recruitment,Oman\n+14,divya interprises,Oman\n+14
6,Data Scientist Urgent Recruitment,Other West Bengal\n+14,divya interprises,0 to 4 Yrs
7,Data Scientist Urgent Recruitment,Oman\n+14,divya interprises,Oman\n+14
8,Senior Data Scientist,Chennai,pfizer limited,2 to 4 Yrs
9,Data Scientist- Madhya Pradesh,Other Madhya Pradesh,the fashion cosmo,Mumbai City

Question 4

In [140]:
driver3=webdriver.Chrome()

In [141]:
driver3.get('https://www.flipkart.com/')

In [142]:
designation=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
designation.send_keys('Sunglasses')

In [143]:
search=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [148]:
brand3=[]
for y in range(0,3):
    titles=driver3.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        brand3.append(i.text)
    next_button=driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()

In [149]:
len(brand3)

120

In [151]:
desc=[]
for y in range(0,3):
    prod=driver3.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod:
        desc.append(i.text)
    next_button=driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)

In [153]:
len(desc)

120

In [154]:
price=[]
for y in range(0,3):
    pr=driver3.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)
    next_button=driver3.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)

In [155]:
len(price)

120

In [159]:
df2=pd.DataFrame({'Brand':brand3,'Description':desc,'Price':price})
df2=df2.head(100)
df2

            Brand                                        Description   Price
0          ROZIOR                   Mirrored Aviator Sunglasses (58)  ₹1,699
1            IRUS  by Lenskart Polarized, UV Protection Rectangul...  ₹1,225
2         Ray-Ban   Polarized, UV Protection Aviator Sunglasses (58)    ₹396
3           GUESS              UV Protection Aviator Sunglasses (54)  ₹7,792
4   VINCENT CHASE              UV Protection Cat-eye Sunglasses (57)    ₹219
..            ...                                                ...     ...
95    john jacobs              UV Protection Aviator Sunglasses (54)    ₹659
96           IRUS   Polarized, UV Protection Aviator Sunglasses (57)  ₹2,499
97      ROYAL SON   Polarized, UV Protection Aviator Sunglasses (58)    ₹524
98    john jacobs         UV Protection Retro Square Sunglasses (54)  ₹1,498
99          NuVew  Polarized, UV Protection Retro Square Sunglass...  ₹5,092

[100 rows x 3 columns]

 Question 5

In [131]:
driver5=webdriver.Chrome()

In [132]:
driver5.get('https://www.flipkart.com/')

In [135]:
search=driver5.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

Question 6

In [160]:
driver4=webdriver.Chrome()

In [162]:
driver4.get('https://www.flipkart.com/')

In [164]:
designation=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
designation.send_keys('sneakers')

In [165]:
search=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [169]:
brand4=[]
for y in range(0,3):
    br=driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br:
        brand4.append(i.text)
    next_button=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [170]:
len(brand4)

120

In [171]:
pd=[]
for page in range(0,3):
    prod=driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod:
        pd.append(i.text)
    next_button=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)

In [172]:
len(pd)

120

In [175]:
price=[]
for page in range(0,3):
    pr=driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)
    next_button=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)

In [176]:
len(price)

120

In [184]:
import pandas as pd

In [185]:
df=pd.DataFrame({'Brand':brand4,'Prod Description':pd,'Price':price})
df=df.head(100)
df

         Brand                                   Prod Description   Price
0       BRUTON  <module 'pandas' from 'C:\\Users\\temit\\anaco...    ₹639
1       BRUTON  <module 'pandas' from 'C:\\Users\\temit\\anaco...    ₹639
2   streetLOOK  <module 'pandas' from 'C:\\Users\\temit\\anaco...  ₹2,249
3         PUMA  <module 'pandas' from 'C:\\Users\\temit\\anaco...  ₹2,249
4         PUMA  <module 'pandas' from 'C:\\Users\\temit\\anaco...  ₹4,949
..         ...                                                ...     ...
95      Layasa  <module 'pandas' from 'C:\\Users\\temit\\anaco...    ₹399
96        PUMA  <module 'pandas' from 'C:\\Users\\temit\\anaco...  ₹1,784
97        PUMA  <module 'pandas' from 'C:\\Users\\temit\\anaco...  ₹1,584
98      LEVI'S  <module 'pandas' from 'C:\\Users\\temit\\anaco...  ₹1,989
99      ADIDAS  <module 'pandas' from 'C:\\Users\\temit\\anaco...  ₹4,999

[100 rows x 3 columns]

Question 7

In [186]:
driver7=webdriver.Chrome()

In [187]:
driver7.get('https://www.amazon.in/')

In [188]:
robot=driver7.find_element(By.XPATH,'/html/body/div/div[1]/div[3]/div/div/form/div[1]/div/div/div[2]/input')
robot.send_keys('CUGCHG')

In [189]:
cs=driver7.find_element(By.XPATH,'/html/body/div/div[1]/div[3]/div/div/form/div[2]/div/span/span/button')
cs.click()

In [194]:
designation=driver7.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
designation.send_keys('Laptops')

In [192]:
search=driver7.find_element(By.XPATH,'/html/body')
search.click()

In [195]:
core=driver7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[12]/li/span/a/span')
core.click()

In [196]:
title=[]
rating=[]
price=[]

In [197]:
t=driver7.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in t:
    title.append(i.text)

['ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/512GB SSD/Windows 11/90WHrs Battery/Black/2.30 Kg), FX506HE-HN382W',
 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce GTX 1650, GDDR6 4GB/Black/1.8Kg), 11SC-1462IN',
 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS',
 'Acer Aspire Lite Premium Metal Laptop 11th Gen Intel Core Ci7-1165G7 Thin and Light Laptop (Windows 11 Home/16GB RAM/1TB SSD/MS Office) AL15-51, 39.62cm (15.6") Full HD Display, Steel Gray, 1.59 KG',
 'Dell Inspiron 5430 Laptop, Intel Core i7-1360P Processor/ 16GB/ 1TB SSD/14.0" (35.56cm) FHD+ WVA AG with Comfortview 250 nits/Backlit KB + FPR/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/ 1.59kg',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, NVIDIA RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP , FHD, IPS, 144Hz, 9 ms Response time, 16GB DDR4, 512GB SSD (MSO, Blue, 2.29 kg), fa0188TX',
 'ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, 4GB NVIDIA GeForce RTX 3050, Gaming Laptop (16GB/1TB SSD/Windows 11/90WHrs Battery/Gray/2.20 Kg), FX577ZC-HN192W',
 'Acer Aspire 5 Gaming Laptop Intel Core i7 13th Gen (Windows 11 Home/16 GB/512 GB SSD/4 GB Graphics/NVIDIA GeForce RTX 2050) A514-56GM, 14.0" WUXGA Display, 1.56 KG',
 'Acer Swift X Intel Core i7-11390H Processor 16.1" (40.89cms) Premium Powerful Laptop- (16 GB/1TB SSD/Win 11 Home/NVIDIA GeForce RTX 3050 Ti 4GB Graphics/Steel Grey, 1.9 KG, MSO), SFX16-51G',
 'ASUS Creator Series Vivobook 14X OLED (2023), Intel Core i7-12650H 12th Gen, 14" (35.56 cm) 2.8K 90Hz OLED, Laptop (16GB/1TB/4GB RTX 2050/Win11/Office 2021/FP/Black/1.4 kg), K3405ZFB-KM751WS',
 'Acer Predator Helios Neo 16 Gaming Laptop 13th Gen Intel Core i7 Processor (16 GB/1 TB SSD/Windows 11 Home/NVIDIA ® GeForce RTX \x84¢ 4060) PHN16-71, (16") WQXGA Display',
 'HP Pavilion 15, 13th Gen Intel Core i7-1360P, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 1TB SSD, Intel Iris Xᵉ Graphics, FPR, Backlit KB, Audio by B&O (Win 11, MSO 2021, Silver, 1.74 kg), eg3036TU',
 'MSI Thin GF63, Intel 12th Gen. i7-12650H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 4050, GDDR6 6GB/Black/1.86Kg), A12VE-070IN',
 'HP Spectre x360 13th Gen Intel Core i7-1355U 13.5 inch(34.3cm)3K2K(3000 x 2000)UWVA OLED 500 nits Gorilla Glass Touch 2-in-1 Laptop(32GB RAM/1TB SSD/5MP(IR)Camera/Backlit KB/FPR/B&O/Pen),14-ef2034TU',
 'Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keyboard/FPR/Black/1.59 kg), 21E3S05B00',
 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop  (15.6 Inch, Graphite, 1.58 Kg, with MS Office)',
 'Dell Inspiron 5330 Laptop, Intel Evo Platform Powered by Intel Core i7-1360P Processor/16GB LP DDR5/1TB SSD/13.3" (33.78cm) QHD+ 300 nits/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/1.24kg',
 'HP Envy x360 for Creators 12th Gen Intel Core i7-1255U, 15.6inch(39.6 cm) FHD OLED 500 Nits Micro-Edge Display (16GB RAM/1TB SSD/B&O/NVIDIA GeForce RTX 2050/Win 11/Fast Charge/Pen/1.7 Kgs/15-ew0022TX)',
 'Samsung [SmartChoice] Galaxy Book2 (NP750) Intel 12th Gen core i7 39.6cm (15.6") FHD T&L Laptop (16 GB/512 GB/Win 11/MSO 21/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'Acer Predator Helios 16 Gaming Laptop 13th Gen Intel Core i7 (32 GB RAM/1 TB SSD/Windows 11 Home/NVIDIA® GeForce RTX™ 4070) PH16-71, WQXGA Display, Abyssal Black, 2.6 KG']

In [204]:
r=driver7.find_elements(By.XPATH,'//span[@class="a-declarative"]')
for i in r:
    rating.append(i.text)

In [199]:
p=driver7.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in p:
    price.append(i.text)

In [201]:
df7=pd.DataFrame({'Title':title,'Ratings':rating,'Price':price})
df7=df7.head(10)
df7

                                               Title Ratings   Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...          68,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...          63,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...          49,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...          52,990
4  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...          64,990
5  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...          57,990
6  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...          60,990
7  Acer Aspire Lite Premium Metal Laptop 11th Gen...          47,990
8  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...          84,990
9  HP Victus Gaming Laptop, 12th Gen Intel Core i...          84,990

Question 8

In [231]:
driver8=webdriver.Chrome()

In [232]:
driver8.get('https://www.motor1.com/')

In [234]:
top=driver8.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
top.send_keys('50 most expensive car')